{% extends "site-base.html" %}

{% load static %}
{% load account %}
{% load i18n %}
{% load assess_tags %}

{% block head_title %}{% trans "Home" %}{% endblock %}

{% block content %}
<!-- Header -->
<div class="w3-container w3-margin-top">
  <header class="w3-black w3-opacity w3-padding-16">
    <h1 class="w3-margin w3-center">3DHB ICT Privacy and Security Assessment Service</h1>
  </header>
  <br>
<header class="w3-container w3-red w3-center" style="padding:64px 16px">
  <h1 class="w3-margin w3-jumbo">Welcome</h1>
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-border-bottom w3-container">
  <div class="w3-content">    
      <h1>Our collective responsibility</h1>
      <h5 class="w3-padding-16">Our collective responsibility across the health sector is to ensure each patient’s medical information is kept private. This service is to help healthcare professionals select software that meets our privacy requirements.</h5>
      <br>
      <h3>Application List</h3>
      <h5><a class="w3-text-indigo" href="{% url 'assess:application-list' %}">Click here</a> to view all software already assessed.</h5>
 <br>
   
      <h5 class="w3-padding-16">If you have software you would like to use and it’s not listed, you will have start the assessment process, to ensure it meets our privacy policy. We have a commitment to our patients to keep their medical information private and secure. To show due diligence we have designed a series of self-assessments for you to complete.</h5>
      <br>
      <h3>The Process</h3>
      <h5>If you would like to learn more about the Privacy and Security assessment process <a class="w3-text-indigo" href="{% url 'process' %}">click here.</a></h5>
<br>
<h3>Contact Us</h3>
      <h5>If you would like someone from the privacy and security team contact you directly, fill out this <a class="w3-text-indigo" href="{% url 'help' %}">form here.</a></h5>
  </div>
</div>

{% endblock %}