{% extends "site-base.html" %}

{% load static %}
{% load account %}
{% load i18n %}

{% block head_title %}{% trans "Process" %}{% endblock %}

{% block content %}

  <!-- Header -->
<div class="w3-container w3-margin-top">
  <header class="w3-black w3-opacity w3-padding-16">
    <h1 class="w3-margin">Privacy and Security Process</h1>
  </header>
  <br>
    <div class="w3-row w3-card-4">
     <p> The assessment process can take a little time and you will probably need to find out more information about the software than the average person but we have found that most medical software has a good sector on their website covering most if not all of our privacy concerns as most of their customers in the health industry have the same commitment to safeguarding their patients data.</p>
     <p>The first step is to fill out the assessment forms. These questions are designed to make you think about the type of data you're using and if you are gathering any personal identifiable information about your patients. Sometimes you may have to refer to the software producers privacy policy (usually found on their on their website). Remember there are no wrong answers. We are just gathering information and doing our due diligence. We want you to use the software that you need to help you do your job. In most cases where the software doesn’t meet our privacy policies and standards, the privacy and security team will help you take measures to ensure that it does. </p>
     <p>After you have complete the assessments you have to submit them to the privacy and security team. We will look over the information and grade the application by the criteria on the table below. </p>
  </div>
{% endblock %}