<td>{{ application.version }}</td>
<td>{{ application.purpose }}</td>
<td>{% for dhb in application.dhbs.all %}
{{ dhb.name }}{% if forloop.last %}.{% else %},{% endif %}
{% endfor %}</td>
<td>{% for application_type in application.application_type.all %}
{% autoescape off %} {{ application_type.icon_html }}{% endautoescape %}{{ application_type.name }}
{% endfor %}</td>
<td class="{% if application.security_decision == 'N' %} w3-green{% elif application.security_decision == 'H' %} w3-red{% elif application.security_decision == 'E' %} w3-purple{% elif application.security_decision == 'L' %} w3-orange{% else %} w3-grey{% endif %}">{{ application.get_security_decision_display }}</td>
<td class="{% if application.privacy_decision == 'N' %} w3-green{% elif application.privacy_decision == 'H' %} w3-red{% elif application.privacy_decision == 'E' %} w3-purple{% elif application.privacy_decision == 'L' %} w3-orange{% else %} w3-grey{% endif %}">{{ application.get_privacy_decision_display }}</td>
<td class="{% if application.clinical_decision == 'N' %} w3-green{% elif application.clinical_decision == 'H'%} w3-red{% elif application.clinical_decision == 'E' %} w3-purple{% elif application.clinical_decision == 'L' %} w3-orange{% else %} w3-grey{% endif %}">{{ application.get_clinical_decision_display }}</td>
{% if application.escalate_IPSG %}<td class="w3-yellow">Escalated to IPSG.</td>{% elif application.assess_status == 'P' %}<td class="w3-white">{{ application.get_assess_status_display }}</td>{% elif application.assess_status == 'R' %}<td class="w3-black">{{ application.get_assess_status_display }}</td>{% endif %}
{% if application.escalate_IPSG %}<td class="w3-blue">{{ application.get_assess_status_display }}</td>{% else %}<td class="w3-grey"></td>{% endif %}