{% load static %}
{% load i18n %}
<thead>
  <tr class="w3-light-grey">
    <th>{% trans "Name" %}</th>
    <th>{% trans "Version" %}</th>
    <th>{% trans "Purpose" %}</th>
    <th>{% trans "DHB(s)" %}</th>
    <th>{% trans "App" %}<br>{% trans "Type(s)" %}</th>
    <th class="w3-center">{% trans "ICT" %}<br>{% trans "Security" %}</th>
    <th class="w3-center">{% trans "Privacy" %}<br>{% trans "Officer" %}</th>
    <th class="w3-center">{% trans "Clinical" %}<br>{% trans "Advisor" %}</th>
    <th class="w3-center w3-tiny">{% trans "Cloud" %}<br>{% trans "Assessment Team" %}</th>
    <th class="w3-center w3-tiny">{% trans "Information Privacy" %} &<br>{% trans "Security Governance" %}</th>
  </tr>
</thead>