{% extends "site-base.html" %}

{% load static %}
{% load account %}
{% load i18n %}
{% load assess_tags %}

{% block head_title %}{% trans "Assessment List" %}{% endblock %}

{% block content %}
<!-- Header -->
<div class="w3-container w3-margin-top">
  <header class="w3-black w3-opacity w3-padding-16">
    <h1 class="w3-margin">Assessment progress</h1>
  </header>
    {% if application_list %}
    <!-- Approval: ICT SECURITY -->
    {% if request.user|has_group:"security" %}
    {% if security_list %}
    <br>
    <h3>ICT Security Review</h3>
    <table class="w3-table-all w3-hoverable w3-small w3-card-4">
      {% include 'assess/_table_header.html' %}
      <tbody>
        {% for application in security_list %}
        <tr>
          <td><a class="w3-text-indigo" href="{% url 'assess:application-security-assess' application.name %}">{{ application.name }}</a></td>
          
          {% include 'assess/_assess_decision.html' %}
         </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% if security_history %}
    <br>
    <h5>ICT Security Review History</h5>
    <table class="w3-table-all w3-hoverable w3-tiny w3-card-4">
      {% include 'assess/_table_header.html' %}
      <tbody>
        {% for application in security_history %}
        <tr>
          <td>{{ application.name }}</td>
          {% include 'assess/_assess_decision.html' %}
         </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% endif %}
    <!-- Approval: PRIVACY -->
    {% if request.user|has_group:"privacy" %}
    {% if privacy_list %}
    <br>
    <h3>Privacy office review</h3>
    <table class="w3-table-all w3-hoverable w3-small w3-card-4">
      {% include 'assess/_table_header.html' %}
      <tbody>
        {% for application in privacy_list %}
        <tr>
          <td><a class="w3-text-indigo" href="{% url 'assess:application-privacy-assess' application.name %}">{{ application.name }}</a></td>
          {% include 'assess/_assess_decision.html' %}
         </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% if privacy_history %}
    <br>
    <h3>Privacy office review history</h3>
    <table class="w3-table-all w3-hoverable w3-tiny w3-card-4">
      {% include 'assess/_table_header.html' %}
      <tbody>
        {% for application in privacy_history %}
        <tr>
          <td>{{ application.name }}</td>
          {% include 'assess/_assess_decision.html' %}
         </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% endif %}
    <!-- Approval: CLINICAL ADVISOR -->
    {% if request.user|has_group:"clinical" %}
    {% if clinical_list %}
    <br>
    <h3>Clinical advisor review</h3>
    <table class="w3-table-all w3-hoverable w3-small w3-card-4">
      {% include 'assess/_table_header.html' %}
      <tbody>
        {% for application in clinical_list %}
        <tr>
          <td><a class="w3-text-indigo" href="{% url 'assess:application-clinical-assess' application.name %}">{{ application.name }}</a></td>
          {% include 'assess/_assess_decision.html' %}
         </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% if clinical_history %}
    <br>
    <h3>Clinical advisor review history</h3>
    <table class="w3-table-all w3-hoverable w3-tiny w3-card-4">
      {% include 'assess/_table_header.html' %}
      <tbody>
        {% for application in clinical_history %}
        <tr>
          <td>{{ application.name }}</td>
          {% include 'assess/_assess_decision.html' %}
         </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% endif %}
    {% endif %}
    <br>
  </div>
{% endblock %}