{% extends "site-base.html" %}

{% load static %}
{% load account %}
{% load i18n %}
{% load assess_tags %}

{% block head_title %}{% trans "My approvals" %}{% endblock %}

{% block content %}
<!-- Header -->
<div class="w3-container w3-margin-top">
  <header class="w3-black w3-opacity w3-padding-16">
    <h1 class="w3-margin">My approvals</h1>
  </header>
    {% if application_list %}
    {% if request.user|has_group:"owners" %}
    {% if to_approve_list %}
    <br>
    <h3>Waiting approval</h3>
    <table class="w3-table-all w3-hoverable w3-card-4">
      {% include 'assess/_table_header.html' %}
      <tbody>
        {% for application in to_approve_list %}
        <tr>
          <td><a class="w3-text-indigo" href="{% url 'assess:application-detail' application.name %}">{{ application.name }}</a></td>
            {% include 'assess/_assess_decision.html' %}  
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% if approved_list %}
    <br>
    <h3>Approved</h3>
    <table class="w3-table-all w3-hoverable w3-card-4">
      {% include 'assess/_table_header.html' %}
      <tbody>
        {% for application in approved_list %}
        <tr>
          <td><a class="w3-text-indigo" href="{% url 'assess:application-detail' application.name %}">{{ application.name }}</a></td>
          {% include 'assess/_assess_decision.html' %} 
         </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endif %}
    {% endif %}
    {% else %}
      <h3 class="w3-center">No applications available.</h3>
    {% endif %}
   
    <br>
  </div>
{% endblock %}

