{% extends "site-base.html" %}

{% load static %}
{% load account %}
{% load i18n %}
{% load assess_tags %}

{% block head_title %}{% trans "CAT Meeting" %}{% endblock %}

{% block content %}
<!-- Header -->
<div class="w3-container w3-margin-top">
  <header class="w3-black w3-opacity w3-padding-16">
    <h1 class="w3-margin">CAT Meeting: {{ catmeeting.id }}</h1>
  </header>
  {% if catmeeting %}
  <br>
  <div class="w3-container w3-card-4">
    <div class="w3-row w3-border-bottom w3-padding-16">
      <div class="w3-col m1 l1">Date:</div>
      <div class="w3-col m1 l1">{{ catmeeting.meeting_date }}</div>
    </div>
    <div class="w3-row w3-border-bottom w3-padding-16">
      <div class="w3-col m1 l1">Attendees:</div>
      <div class="w3-col m1 l1">
         <ul>
          {% for attendees in catmeeting.attendees.all %}
            <li>{{ attendees }}{% if forloop.last %}.{% else %}, {% endif %}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
   <div class="w3-row w3-border-bottom w3-padding-16">
      <div class="w3-col m1 l1">Apps discussed:</div>
      <div class="w3-col m5 l5">
        <table class="w3-table-all w3-hoverable w3-card-4">
          <thead>
            <tr class="w3-light-grey">
              <th>{% trans "Name" %}</th>
              <th>{% trans "Purpose" %}</th>
              <th>{% trans "Decision" %}</th>
              <th>{% trans "Edit Decision" %}</th>
            </tr>
          </thead>
          <tbody>
            {% for apps in catmeeting.apps.all %}
            <tr>
              <td>{{ apps.name }}</td>
              <td>{{ apps.purpose }}</td>
              {% if apps.assess_status %}
                {% if apps.assess_status == 'R' %}
                  <td class="w3-black w3-text-red">Rejected</td>
                {% endif %}
                {% if apps.assess_status == 'P' %}
                  <td class="w3-white w3-text-indigo">Approved</td>
                {% endif %}
                {% if apps.assess_status == 'E' %}
                  <td class="w3-yellow">Escalated to IPSG</td>
                {% endif %}
              {% endif %}
              <td><a class="w3-button w3-blue" href="{% url 'assess:catmeeting-decision-update' pk=apps.name catmeeting_id=catmeeting.id %}">Edit</a></td>
             </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="w3-row w3-padding-16">
      <a class="w3-button w3-padding w3-red" href="{% url 'assess:catmeeting-list' %}">Cancel</a>
      <a class="w3-button w3-padding w3-blue" href="{% url 'assess:catmeeting-update' catmeeting.id %}">Edit</a>
      <button class="w3-button w3-padding w3-green" type="Submit">Finalise Meeting</button>
    </div>
  {% endif %}
</div>
<br>
<div class="w3-container w3-card-4">
  {% if ready_app_list %}
  <div class="w3-row w3-border-bottom w3-padding">
    <h3>Apps (ready for CAT):</h3>
        <p>A list of apps that have completed security, privacy and clinical assessments and are now ready for a decision to be made by the CAT team. Click 'add' to add an app to the CAT meeting agenda.</p>
    <table class="w3-table-all w3-hoverable w3-card-4">
      <thead>
        <tr class="w3-light-grey">
          <th>{% trans "Action" %}</th>
          <th>{% trans "Name" %}</th>
          <th>{% trans "Purpose" %}</th>
          <th>{% trans "Requestor" %}</th>
          <th>{% trans "Business Owner" %}</th>
          <th>{% trans "DHBs" %}</th>
          <th>{% trans "Type(s)" %}</th>
          <th>{% trans "ICT Security" %}</th>
          <th>{% trans "Privacy Officer" %}</th>
          <th>{% trans "Clinical Advisor" %}</th>
        </tr>
      </thead>
      <tbody>
        {% for application in ready_app_list %}
        <tr>
          <td><a class="w3-button w3-blue w3-padding-large" href="{% url 'assess:catmeeting-decision-update' pk=application.name catmeeting_id=catmeeting.id %}">Add</a></td>
          <td>{{ application.name }}</td>
          <td>{{ application.purpose }}</td>
          <td>{{ application.requestor }}</td>
          <td>{{ application.business_owner }}</td>
          <td>{% for dhb in application.dhbs.all %}
            {{ dhb.name }}{% if forloop.last %}.{% else %},{% endif %}
          {% endfor %}</td>
          <td>{% for application_type in application.application_type.all %}
            {% autoescape off %} {{ application_type.icon_html }}{% endautoescape %}{{ application_type.name }}
          {% endfor %}</td>
          <td class="{% if application.security_decision == 'N' %} w3-green{% elif application.security_decision == 'H' %} w3-red{% elif application.security_decision == 'E' %} w3-purple{% elif application.security_decision == 'L' %} w3-orange{% else %} w3-grey{% endif %} w3-opacity-min">{{ application.get_security_decision_display }}</td>
          <td class="{% if application.privacy_decision == 'N' %} w3-green{% elif application.privacy_decision == 'H' %} w3-red{% elif application.privacy_decision == 'E' %} w3-purple{% elif application.privacy_decision == 'L' %} w3-orange{% else %} w3-grey{% endif %} w3-opacity-min">{{ application.get_privacy_decision_display }}</td>
          <td class="{% if application.clinical_decision == 'N' %} w3-green{% elif application.clinical_decision == 'H'%} w3-red{% elif application.clinical_decision == 'E' %} w3-purple{% elif application.clinical_decision == 'L' %} w3-orange{% else %} w3-grey{% endif %} w3-opacity-min">{{ application.get_clinical_decision_display }}</td>
         </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
  </div>
    {% endif %}
   
</div>
{% endblock %}