{% extends "site-base.html" %}

{% load static %}
{% load account %}
{% load i18n %}

{% block head_title %}{% trans "Information Classification Assessment" %}{% endblock %}


{% block content %}
<!-- Header -->
<div class="w3-container w3-margin-top">
  <header class="w3-black w3-opacity w3-padding-16">
    <h1 class="w3-margin">Information Classification for {{ informationclassification.app }} </h1>
  </header>
  <br>
  <div class="w3-container w3-card-4">



   <h4>Information Classification</h4>
  <table class="w3-table-all w3-hoverable">
    <thead>
      <th>Type of information</th>
      <th>App uses?</th>
      <th>Classification</th>
    </thead>
    <tbody>
      {% if informationclassification.medical_in_confidence %}
      <tr class="w3-padding w3-border w3-pale-yellow">
        <td>Personal health information</td>
        <td><span class='w3-text-green'><i class="fa fa-check-circle fa-fw fa-2x"></i></span></td>
        <td>MEDICAL IN CONFIDENCE</td>
      </tr>
      {% endif %}
      {% if informationclassification.staff_in_confidence %}
      <tr class="w3-padding w3-border w3-pale-yellow">
        <td>Identifiable employee and practitioner information that is not intended for the public domain</td>
        <td><span class='w3-text-green'><i class="fa fa-check-circle fa-fw fa-2x"></i></span></td>
        <td>STAFF IN CONFIDENCE</td>
      </tr>
      {% endif %}
      {% if informationclassification.commercial_in_confidence %}
      <tr class="w3-padding w3-border w3-pale-yellow">
        <td>Commercially sensitive information that needs protection from unauthorised access</td>
        <td><span class='w3-text-green'><i class="fa fa-check-circle fa-fw fa-2x"></i></span></td>
        <td>COMMERCIAL IN CONFIDENCE</td>
      </tr>
      {% endif %}
      {% if informationclassification.statistical_unclassified %}
      <tr class="w3-padding w3-border w3-pale-green">
        <td>Statistical or financial information that is non–identifiable</td>
        <td><span class='w3-text-green'><i class="fa fa-check-circle fa-fw fa-2x"></i></span></td>
        <td>UNCLASSIFIED</td>
      </tr>
      {% endif %}
      {% if unclass %}
      <tr class="w3-padding w3-border w3-pale-green">
        <td>All other information</td>
        <td><span class='w3-text-green'><i class="fa fa-check-circle fa-fw fa-2x"></i></span></td>
        <td>UNCLASSIFIED</td>
      </tr>
      {% endif %}
    </tbody>
  </table>
  {% if informationclassification.special_handling_sensitive_patient or informationclassification.special_handling_sensitive_disease or informationclassification.special_handling_sensitive_abuse %}
  <br/>
  <h4>Special Handling</h4>
  <table class="w3-table-all w3-hoverable">
    <thead>
      <th>Subject matter</th>
      <th>App uses?</th>
    </thead>
    <tbody>
      {% if informationclassification.special_handling_sensitive_patient %}
      <tr class="w3-padding w3-border w3-pale-red">
        <td>Sensitive patient information (eg VIP’s)</td>
        <td><span class='w3-text-green'><i class="fa fa-check-circle fa-fw fa-2x"></i></span></td>
      </tr>
      {% endif %}
      {% if informationclassification.special_handling_sensitive_disease %}
      <tr class="w3-padding w3-border w3-pale-red">
        <td>Sensitive categories of disease (eg Mental Health)</td>
        <td><span class='w3-text-green'><i class="fa fa-check-circle fa-fw fa-2x"></i></span></td>
      </tr>
      {% endif %}
      {% if informationclassification.special_handling_sensitive_abuse %}
      <tr class="w3-padding w3-border w3-pale-red">
        <td>Sensitive subjects (violence and abuse; pandemics)</td>
        <td><span class='w3-text-green'><i class="fa fa-check-circle fa-fw fa-2x"></i></span></td>
      </tr>
      {% endif %}

    </tbody>
  </table>
    {% endif %}
    <a class="w3-button w3-section w3-red w3-large w3-ripple" href="{% url 'assess:application-detail' informationclassification.app %}">{% trans "Cancel" %}</a>
    <a class="w3-button w3-section w3-blue w3-large w3-ripple" href="{% url 'assess:informationclassification-update' informationclassification.app %}">{% trans "Edit" %}</a>
    <a class="w3-button w3-section w3-orange w3-large w3-ripple" href="{% url 'assess:informationclassification-delete' informationclassification.app %}">{% trans "Delete" %}</a>
  </div>
</div>
{% endblock %}